

{% extends "portfolio/base.html" %}

{% load static %}

{% block content %}

<div class="row justify-content-center my-1">
  <div class="col-12">
    <img src="{% static 'portfolio\IMG_20160825_233056627.jpg' %}" width="150" height="200" alt="sam's logo">
  </div>
</div>

<div class="row justify-content-center mb-4">
  <div class="col-md-7 text-center">
    <h3 id="hometext" class="font-weight-bold">Hi I'm Sam Tyson and this is my Blog!!!</h3>
  </div>
</div>

<h2 class="mt-5">Life in Los Angeles!</h2>
<hr>
<div class="row">
  {% for project in projects %}
  <div class="col-lg-4 col-md-6">

    {% if project.url %}
    <a href="{{ project.url }}">
      <img src="{{ project.image.url }}" width="350" height="350" >
    </a>
    {% else %}

    <img src="{{ project.image.url }}" width="350" height="350">
    {% endif %}
    <h3 style="color:whitesmoke;">{{ project.title }}</h3>
    <p style="color:white;">{{ project.description }}</p>

  </div>
{% endfor %}
</div>

{% endblock %}
 


