{% extends "portfolio/base.html" %}

{% load static %}

{% block content %}

<div class="col-5">
  <div>
    <img src="{% static 'portfolio\IMG_20160825_233046444.jpg' %}" width="250" height="400" class="d-inline-block align-top"  alt="sam's logo">
  </div>
</div>



<h1 id="blogtitle" class="font-weight-bold text-center">#My Blog!!</h1>

<h3 class="text-center mb-5">Sam has written {{ blogs.count }} blog{{ blogs.count|pluralize }}</h3>
{% for blog in blogs %}
<div class="row justify-content-center my-3">
  <div class="col-md-10">
    <a href="{% url 'blog:detail' blog.id %}">
      <h2 id="subtitle">{{ blog.title }}</h2>
    </a>
    <h5 id="text-muted">{{ blog.date|date:'M d Y'|upper }}</h5>
    <h4 id="description">{{ blog.description|striptags|truncatechars:100 }}</h4>
  </div>
</div>
{% endfor %}

{% endblock %}